<header class="search-bar">
	<div class="">
		<div class="mac-controls">
			<span class="mac-controlsButton mc--exit"></span>
			<span class="mac-controlsButton mc--minimize"></span>
			<span class="mac-controlsButton mc--expand"></span>
		</div>

		<div class="u-flex">
			<span class="icono icono-caretLeft"></span>
			<span class="icono icono-caretRight"></span>
		</div>

		<div class="search">
			<input type="text" placeholder="Search" name="Search">

		</div>

		<p class="icono-search"></p>
	</div>

	<div class="user-settings">

		<div class="inbox"></div>
		<div class="user"></div>

		<!-- <div class="settings"></div> -->
		<div>
			<p class="icono-mail"></p>
		</div>

		<div class="stoop">
			<img src="app/img/stoop.jpg">
			<p>Alex Chaparro</p>
		</div>

			<span class="icono icono-caretDown"></span>
	</div>
</header>

