@import '../../styles/base/base';

.search-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 3.125rem;
	padding: 0.5rem;
	font-family: $Circular;
	background: $playlistBackground;
	color: $grey;

}

.mac-controls {
	margin-right: 1.5rem;

	.mac-controlsButton {
		display: inline-block;
		width: 0.75rem;
		height: 0.75rem;
		border-radius: 50%;
		margin-left: 0.3125rem;
	}

	.mc--exit {
		background: $macRed;
	}

	.mc--minimize {
		background: $macYellow;
	}

	.mc--expand {
		background: $macGreen;
	}
}

.icono {
	color: $grey;
	transition: $transition-spotify;

	&:hover {
		color: $white;
	}
}

[class^='ion'], [class*='ion'] {
	font-size: 1.5rem;

}
[class^='ion'] + [class^='ion'],
[class*='ion'] + [class*='ion'] {
	margin-left: 1.7rem;
	cursor: pointer;
}

.icono-caretDown:after, .icono-caretDown:before,
.icono-caretLeft:after, .icono-caretLeft:before,
.icono-caretRight:after, .icono-caretRight:before, {
	width: 11px;
}


.search {
	margin-left: 1.625rem;

	input {
		border-radius: 50px;
		width: 14.75rem;
		height: 1.125rem;
	}
}

.user-settings{
	width: 13.125rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 1.25rem;

	img {
		width: 1.75rem;
		height: 1.75rem;
		border-radius: 50%;
		margin-right: 5px;
	}
}

