@import '../../styles/base/base';

.search-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	width: 100%;
	height: 3.125rem;
	padding: 0.5rem;
	font-family: $Circular;
	background: $playlistBackground;
	color: $grey;
	z-index: 10;

}

.mac-controls {
	margin-right: 1.5rem;

	.mac-controlsButton {
		display: inline-block;
		width: 0.75rem;
		height: 0.75rem;
		border-radius: 50%;
		margin-left: 0.3125rem;
	}

	.mc--exit {
		background: $macRed;
	}

	.mc--minimize {
		background: $macYellow;
	}

	.mc--expand {
		background: $macGreen;
	}
}

[class^='ion'], [class*='ion'] {
	font-size: 1.5rem;
	color: $grey;
	transition: $transition-spotify;

	&:hover {
		color: $white;
	}
}

[class^='ion'] + [class^='ion'],
[class*='ion'] + [class*='ion'] {
	margin-left: 1.7rem;
}

.search {
	position: relative;
	margin-left: 1.625rem;

	input {
		width: 15rem;
		height: 1.5rem;
		padding-left: 1.5625rem;
		font-size: 0.8125rem;
		border-radius: 50px;

		&:focus {
			outline: none;
		}
	}

	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: $gray-10;
	}
	::-moz-placeholder { /* Firefox 19+ */
	  color: $gray-10;
	}
	:-ms-input-placeholder { /* IE 10+ */
	  color: $gray-10;
	}
	:-moz-placeholder { /* Firefox 18- */
	  color: $gray-10;
	}

	::-webkit-search-cancel-button {
	    position:relative;
	    right: 2px;
	    // scss for custom x button
		// -webkit-appearance: none;
	}

	// &:after {
	//     content: "x";
	//     font-size: 1rem;
	//     color: $grey;
	//     position: relative;
	//     right: 20px;
	// }
}



.ion-ios-search-strong {
	position: absolute;
	top: 0.25rem;
	left: 0.4375rem;
	font-size: 1.25rem;
	color: $gray-10;
}

.user-settings{
	width: 13.125rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 1.25rem;

	img {
		width: 1.75rem;
		height: 1.75rem;
		border-radius: 50%;
		margin-right: 5px;
	}

	.user-name {
		&:hover {
			color: $white;
		}
	}
}


