<header class="search-bar">
	<div class="u-flex">
		<div class="mac-controls">
			<span class="mac-controlsButton mc--exit"></span>
			<span class="mac-controlsButton mc--minimize"></span>
			<span class="mac-controlsButton mc--expand"></span>
		</div>

		<div class="u-flex">
			<span class=" ion-ios-arrow-left"></span>
			<span class=" ion-ios-arrow-right"></span>
		</div>

		<div class="search">
			<input type="search" placeholder="Search" name="Search">
			<span class="ion-ios-search-strong"></span>
		</div>
	</div>

	<div class="user-settings">
		<div class="ion-ios-filing-outline"></div>
		<div class="u-flex u-centerY">
			<img src="app/img/stoop.jpg">
			<p class='user-name'>{{this.name}}</p>
		</div>
		<div class="icono ion-ios-arrow-down"></div>
	</div>

</header>

