@import '../../styles/base/base';

.search-bar {
	display: flex;
	align-items: center;
	height: 3.125rem;
	padding: 0.5rem;
	background: $playlistBackground;
}

.mac-controls {
	margin-right: 1.5rem;

	.mac-controlsButton {
		display: inline-block;
		width: 0.75rem;
		height: 0.75rem;
		border-radius: 50%;
		margin-left: 0.3125rem;
	}

	.mc--exit {
		background: $macRed;
	}

	.mc--minimize {
		background: $macYellow;
	}

	.mc--expand {
		background: $macGreen;
	}
}

.icono {
	color: $grey;

	&:hover {
		color: $white;
	}
}

.icono + .icono {
	margin-left: 1.7rem;
	cursor: pointer;
}

.icono-caretDown:after, .icono-caretDown:before,
.icono-caretLeft:after, .icono-caretLeft:before,
.icono-caretRight:after, .icono-caretRight:before, {
	width: 11px;
}


.search {
	margin-left: 1.5rem;

	input {
		border-radius: 50px;
		width: 14.5rem;
		height: 1.125rem;
	}
}

