<header class="search-bar">
	<div class="u-flex">
		<div class="mac-controls">
			<span class="mac-controlsButton mc--exit"></span>
			<span class="mac-controlsButton mc--minimize"></span>
			<span class="mac-controlsButton mc--expand"></span>
		</div>

		<div class="u-flex">
			<span class="icono icono-caretLeft"></span>
			<span class="icono icono-caretRight"></span>
		</div>

		<div class="search">
			<input type="text" placeholder="Search" name="Search">

		</div>

		<p class="icono-search"></p>
	</div>

	<div class="user-settings">
		<div class="icono icono-mail"></div>
		<div class="ion-ios-email"></div>
		<div class="u-flex u-centerY">
			<img src="app/img/stoop.jpg">
			<p class='icono'>Alex Chaparro</p>
		</div>
		<div class="icono icono-caretDown"></div>
	</div>

</header>

