@import '../../styles/base/base';

.player {
	display: flex;
	position: fixed;
	height: 5.5rem;
	width: 100%;
	padding: 0.8125rem;
	bottom: 0px;
	background: $borderGrey;
	font-family: $Circular;
}

.player-album {
	display: flex;
	align-items: center;
	width: 25%;
}

.player-albumTitle {
	margin-left: 0.5rem;

	p {
		color: $white;
	}

	p3 {
		color: $grey;
	}
}

.ion-ios-plus-empty {
	color: $white;
	font-size: 1.5rem;
	padding-left: 0.625rem;
}

.player-controls {
	display: flex;
	width: 50%;
}

.player-controls {
	display: flex;
	justify-content: center;
	align-items: center;

	[class^='ion'], [class*='ion'] {
		font-size: 1.125rem;
		color: $grey;
		margin-left: 2.5rem;
		transition: $transition-spotify;

		&:hover {
			color: $white;
		}
	}

	.ion-ios-pause {
		font-size: 1.25rem;
	}
}

