<section
	class="player"
	(window:resize)="onResize($event)">
	<div class="player-album">
		<div class="player-albumArtwork">
			<img src="app/img/spotifyAlbumArtwork.png">
		</div>
		<div class="player-albumTitle">
			<p>Late Night holder <span class="ion-ios-plus-empty"></span></p>
			<p3>Late Night Tales</p3>
		</div>
	</div>

	<div class="player-controls">
		<div class="ion-shuffle"></div>
		<div class="ion-ios-skipbackward"></div>
		<div class="ion-ios-pause"></div>
		<div class="ion-ios-skipforward"></div>
		<div class="ion-ios-loop-strong"></div>
	</div>

	<div class="player-secondaryControls">
		<div class="ion-ios-list-outline"></div>
		<div class="ion-ios-partlysunny-outline"></div>
		<div class="ion-volume-medium"></div>


	</div>


	<!-- <div class="current-track__progress__bar">
      <div id="song-progress" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
      	<div class="noUi-base">
      		<div class="noUi-origin" style="left: 4.94935%;">
	      		<div class="noUi-handle noUi-handle-lower"></div>
	      	</div>
      	</div>
      </div>
    </div> -->

<!-- <nouislider [connect]="true" [min]="0" [max]="15" [(ngModel)]="someRange"></nouislider> -->


</section>
