@import '../../styles/base/base';
@import "~nouislider/distribute/nouislider.min.css";

.player {
	display: flex;
	position: fixed;
	height: 5.5rem;
	width: 100%;
	padding: 0.8125rem;
	bottom: 0px;
	background: $borderGrey;
	font-family: $Circular;
}

.player-album {
	display: flex;
	align-items: center;
}

.player-albumTitle {
	margin-left: 0.5rem;

	p {
		color: $white;
	}

	p3 {
		color: $grey;
	}
}

.ion-ios-plus-empty {
	color: $white;
	font-size: 1.5rem;
	padding-left: 0.625rem;
}

.player-controls {
	display: flex;
}

.player-controls {
	display: flex;
	justify-content: center;
	align-items: center;

	[class^='ion'], [class*='ion'] {
		font-size: 1.125rem;
		color: $grey;
		margin-left: 2.5rem;
		transition: $transition-spotify;

		&:hover {
			color: $white;
		}
	}

	.ion-ios-pause {
		font-size: 1.25rem;
	}
}

.player-secondaryControls {
	display: flex;
	justify-content: center;
	align-items: center;

	[class^='ion'], [class*='ion'] {
		font-size: 1.5rem;
		color: $grey;
		margin-left: 1.5rem;
		transition: $transition-spotify;

		&:hover {
			color: $white;
		}
	}

	.ion-ios-list-outline {
		font-size: 1.25rem;
	}
}

// .current-track__progress__bar {
// 	width: 100%;
//     padding: 0 15px;
// }

@media (min-width: 768px) {
	.player-album {
		width: 25%;
	}

	.player-controls  {
		width: 50%;
	}

	.player-secondaryControls {
		width: 25%;
	}

}

