<section class="player">
	<div class="player-album">
		<div class="player-albumArtwork">
			<img src="app/img/spotifyAlbumArtwork.png">
		</div>
		<div class="player-albumTitle">
			<p>Late Night Place holder <span class="ion-ios-plus-empty"></span></p>
			<p3>Late Night Tales</p3>
		</div>
	</div>

	<div class="player-controls">
		<div class="ion-shuffle"></div>
		<div class="ion-ios-skipbackward"></div>
		<div class="ion-ios-pause"></div>
		<div class="ion-ios-skipforward"></div>
		<div class="ion-ios-loop-strong"></div>
	</div>


</section>
