<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/page/head.ejs%>
</head>
<body class="<%= classname%>">
<% include partials/page/header.ejs%>
<section class="container">
    <section class="row">
        <div class="col-sm-5">
            <h3>Popsicle Stick Theater</h3>
            <p>Rich media site that features numerous videos and sign up form.</p>
        </div>
        <div class="col-sm-7">
            <a href="http://www.popsicle.com/campaigns/theater/" target="_blank"><img class="img-responsive outline" src="./img/popsicle.png"></a>
        </div>
    </section>
    <section class="row">
        <div class="col-sm-5">
            <h3>Alex's Dog Vacay</h3>
            <p>Business website featuring all the dogs I've taken care of over the years.</p>
        </div>
        <div class="col-sm-7">
            <a href="http://www.alexsdogvacay.com" target="_blank"><img class="img-responsive outline" src="./img/alexsDogVacay.png"></a>
        </div>
    </section>
    <section class="row">
        <div class="col-sm-5">
            <h3>Cheeserank</h3>
            <p>Cheese blog, featuring tips, recipes and information on all things cheese.</p>
        </div>
        <div class="col-sm-7">
            <a href="http://www.cheeserank.com" target="_blank"><img class="img-responsive outline" src="./img/cheeseRank.png"></a>
        </div>
    </section>
    <section class="row">
        <div class="col-sm-5">
            <h3>Flavorsplash</h3>
            <p>Social media site featuring tons of user generated content around Flavorsplash.</p>
        </div>
        <div class="col-sm-7">
            <a href="http://www.flavorsplash.com" target="_blank"><img class="img-responsive outline" src="./img/flavorSplash.png"></a>
        </div>
    </section>

</section>

<% include partials/page/footer.ejs%>
<% include partials/page/jsdefaults.ejs%>
</body>
</html>