<header>
    <nav>
        <a routerLink="" routerLinkActive="active">
        	<span id='home' class='border-top'>Home</span>
        </a>
        <a routerLink="portfolio">
        	<span id='portfolio'>Portfolio</span>
        </a>
    </nav>
</header>

<section class="wrapper">
	<router-outlet></router-outlet>
</section>

<footer>
    <span id="copy">&copy; 2016. Alexander Chaparro. All rights reserved.</span>
    <a href="https://www.linkedin.com/pub/alexander-chaparro/1a/b58/566" target="_blank"><img src="app/img/linkedInLogo.png"></a>
</footer>
