<app-nav></app-nav>
<section class="wrapper container container-fluid">
    <section class="content">
        <section class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="codePen codePen--cheeserank">
                    <a href="http://www.cheeserank.com" target="_blank">
                        <div class="codePen-overlay">
                            <div class="codePen-header">
                                <h1>Cheeserank</h1>
                            </div>
                            <div class="codePen-description">
                                <h4>Massive cheese blog featuring tips, recipes, and culture for cheese lovers. Built using AngularJS.</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="codePen codePen--budweiser">
                    <a href="http://budweisermusic.tumblr.com/" target="_blank">
                        <div class="codePen-overlay">
                            <div class="codePen-header">
                                <h1>Budweiser Music</h1>
                            </div>
                            <div class="codePen-description">
                                <h4>Budweiser site featuring tons of user generated content around music artists.</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="codePen codePen--spotify">
                    <a href="/spotify" target="_blank">
                        <div class="codePen-overlay">
                            <div class="codePen-header">
                                <h1>Spotify UI</h1>
                            </div>
                            <div class="codePen-description">
                                <h4>Responsive Spotify dashboard built in AngularJS 2</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </section>
</section>

<app-footer></app-footer>
