<section class="content">
    <section class="row">
        <div class="col-sm-4">
            <div class="codePen codePen--cheeserank">
                <a href="http://www.cheeserank.com" target="_blank">
                    <div class="codePen-overlay">
                        <div class="codePen-header">
                            <h1>Cheeserank</h1>
                        </div>
                        <div class="codePen-description">
                            <h5>Cheese blog, featuring tips, recipes and information on all things cheese.</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="codePen">
                <a href="http://budweisermusic.tumblr.com/" target="_blank"><img class="img-responsive" src="app/img/budweiserMusic.jpg"></a>
                <div class="codePen-header">
                    <h1>Budweiser Music</h1>
                </div>
                <div class="codePen-content">
                    <h5>Budweiser site featuring tons of user generated content around music artists.</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="codePen codePen--cheeserank">
                <a href="http://www.cheeserank.com" target="_blank">
                    <div class="codePen-overlay">
                        <div class="codePen-header">
                            <h1>Spotify UI</h1>
                        </div>
                        <div class="codePen-description">
                            <h5>Responsive Spotify dashboard</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
</section>
