<section class="row">
        <div class="col-sm-5">
            <h3>Popsicle Stick Theater</h3>
            <p>Rich media site that features videos and content associated with the Popsicle<sup>&reg;</sup> brand.</p>
        </div>
        <div class="col-sm-7">
            <a href="http://www.popsicle.com/campaigns/theater/" target="_blank"><img class="img-responsive outline" src="public/img/popsicle.jpg"></a>
        </div>
    </section>
    <section class="row">
        <div class="col-sm-5">
            <h3>Alex's Dog Vacay</h3>
            <p>Business website featuring all the dogs I've taken care of over the years.</p>
        </div>
        <div class="col-sm-7">
            <a href="http://www.alexsdogvacay.com" target="_blank"><img class="img-responsive outline" src="public/img/alexsDogVacay.jpg"></a>
        </div>
    </section>
    <section class="row">
        <div class="col-sm-5">
            <h3>Cheeserank</h3>
            <p>Cheese blog, featuring tips, recipes and information on all things cheese.</p>
        </div>
        <div class="col-sm-7">
            <a href="http://www.cheeserank.com" target="_blank"><img class="img-responsive outline" src="public/img/cheeseRank.jpg"></a>
        </div>
    </section>
    <section class="row">
        <div class="col-sm-5">
            <h3>Budweiser Music</h3>
            <p>Budweiser site featuring tons of user generated content around music artists.</p>
        </div>
        <div class="col-sm-7">
            <a href="http://www.flavorsplash.com" target="_blank"><img class="img-responsive outline" src="public/img/budweiserMusic.jpg"></a>
        </div>
    </section>