@import '../styles/base/base';

.content {
	padding: 7.8125rem 0.625rem 0;
}

.codePen{
    @include transition;
    display: flex;
	flex-direction: column;
	position: relative;
	font-family: 'Open Sans', sans-serif;
	color: $white;
	border: 1px solid $black;

	img {
		opacity: 0.15;
	}	

}

.codePen-content {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.codePen-overlay {
	position: absolute;
    top: 0;
	width: 100%;
    height: 100%;
    padding: 1rem;
	background: rgba(75,75,75,0.9);
}

.product-description {
	display: none;
}

.img-responsive {  
	display: block;  
	height: auto;  
	max-width: 100%; 
}