<section>
    <div class="welcome">
        <h1 class="welcome-title">Alexander Chaparro</h1>
        <h4 class="welcome-quote">&#8220;If today were the last day of your life,
            would you want to do what you are about to do today?&#8221;
            <span>-Steve Jobs</span></h4>

        <!-- <div id="contact">
            <h5><a href="mailto:alexechaparro@gmail.com?subject=From your personal site">Alex.E.Chaparro@gmail.com</a></h5>
            <h5><a target='_blank' href="https://twitter.com/London804">@London804</a></h5>
            <h5><a target='_blank' href="http://github.com/london804">GitHub</a></h5>
        </div> -->
    </div>
</section>