@import '../styles/base/base';

.welcome {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 7.8125rem 0.625rem 0;

}
.welcome-title {
    font-size: 2.5rem;
    font-family: $fontSans;
}

.welcome-quote {
    color: darken(#aaa, 15%);
    font-weight: 100;
    text-transform: uppercase;
    padding: 1.5625rem 0;
    max-width: 28.75rem;

    span {
        display: block;
        text-align: right;
        padding-top: 0.625rem;
      }
}

#contact {
    text-align: center;

    h5 {
        font-size: 1rem;
        margin: 15px auto;
      }

    a {
        color: black;
    }
}

#content {
    margin-top: 100px;
}
