$white: #fff;
$black: #000;
$background: #fbfbfb;
$gray-10: rgb(43, 49, 58);

/*spotify*/
$spotifyBlack: #191414;
$spotifyBackground: #222326;
$grey: #9E9E9E;
$spotifyGreen: #2EBD59;
$borderGrey: #282828;
$playlistBackground: #121212;

/*mac window*/
$macRed: #FF6059;
$macYellow: #FFBD2E;
$macGreen: #29C941;