@import '../variables/font';
@import '../variables/colors';

html {
  font-size: 16px;
}
html, body, #container { height: 100%; } //for footer
body > #container { height: auto; min-height: 100%; } //for footer

body {
  background: $background;
  font-family: $fontProxima;
  @include selection;
}

a {
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.wrapper {
  min-height:100%;
  position:relative;
  padding: 0 0.9375rem 2rem;
}