// /////////////////
// // Breakpoints //
// /////////////////
// $xs-min: 30rem;
// $sm-min: 48rem;
// $md-min: 64rem;
// $lg-min: 80rem;

// ///////////////////////
// // Containers && Rows//
// ///////////////////////
// .content {
// 	padding: 3.375rem 0.9375rem 0;
// 	margin-left: auto;
// 	margin-right: auto;
// }

// .content--tight {
// 	padding: 0 5rem;
// }

// .row {
// 	box-sizing: border-box;
// 	display: flex;
// 	flex: 0 1 auto;
// 	flex-direction: row;
// 	flex-wrap: wrap;
// }

// .column,
// .column-1,
// .column-2,
// .column-3,
// .column-4,
// .column-5,
// .column-6,
// .column-7,
// .column-8,
// .column-9,
// .column-10,
// .column-11,
// .column-12,
// .column-offset-0,
// .column-offset-1,
// .column-offset-2,
// .column-offset-3,
// .column-offset-4,
// .column-offset-5,
// .column-offset-6,
// .column-offset-7,
// .column-offset-8,
// .column-offset-9,
// .column-offset-10,
// .column-offset-11,
// .column-offset-12 {
// 	box-sizing: border-box;
// 	flex: 0 0 auto;
// }

// .column {
// 	flex-grow: 1;
// 	flex-basis: 0;
// 	max-width: 100%;
// }

// .column-1 {
// 	flex-basis: 8.333%;
// 	max-width: 8.333%;
// }

// .column-2 {
// 	flex-basis: 16.666%;
// 	max-width: 16.666%;
// }

// .column-3 {
// 	flex-basis: 25%;
// 	max-width: 25%;
// }

// .column-4 {
// 	flex-basis: 33.333%;
// 	max-width: 33.333%;
// }

// .column-5 {
// 	flex-basis: 41.667%;
// 	max-width: 41.667%;
// }

// .column-6 {
// 	flex-basis: 50%;
// 	max-width: 50%;
// }

// .column-7 {
// 	flex-basis: 58.333%;
// 	max-width: 58.333%;
// }

// .column-8 {
// 	flex-basis: 66.667%;
// 	max-width: 66.667%;
// }

// .column-9 {
// 	flex-basis: 75%;
// 	max-width: 75%;
// }

// .column-10 {
// 	flex-basis: 83.333%;
// 	max-width: 83.333%;
// }

// .column-11 {
// 	flex-basis: 91.667%;
// 	max-width: 91.667%;
// }

// .column-12 {
// 	flex-basis: 100%;
// 	max-width: 100%;
// }

// .column-offset-0 {
// 	margin-left: 0;
// }

// .column-offset-1 {
// 	margin-left: 8.333%;
// }

// .column-offset-2 {
// 	margin-left: 16.666%;
// }

// .column-offset-3 {
// 	margin-left: 25%;
// }

// .column-offset-4 {
// 	margin-left: 33.333%;
// }

// .column-offset-5 {
// 	margin-left: 41.667%;
// }

// .column-offset-6 {
// 	margin-left: 50%;
// }

// .column-offset-7 {
// 	margin-left: 58.333%;
// }

// .column-offset-8 {
// 	margin-left: 66.667%;
// }

// .column-offset-9 {
// 	margin-left: 75%;
// }

// .column-offset-10 {
// 	margin-left: 83.333%;
// }

// .column-offset-11 {
// 	margin-left: 91.667%;
// }

// //////////////////
// // 40px Gutters //
// //////////////////
// .gutter-40 {
// 	.row {
// 		margin-right: -1.25rem;
// 		margin-left: -1.25rem;
// 	}

// 	[class*="column-"] {
// 		padding-right: 1.25rem;
// 		padding-left: 1.25rem;
// 		margin-bottom: 2.5rem;
// 	}
// }

// //////////////////
// // 32px Gutters //
// //////////////////
// .gutter-32 {
// 	.row {
// 		margin-right: -1rem;
// 		margin-left: -1rem;
// 	}

// 	[class*="column-"] {
// 		padding-right: 1rem;
// 		padding-left: 1rem;
// 		margin-bottom: 2rem;
// 	}
// }

// //////////////////
// // 24px Gutters //
// //////////////////
// .gutter-24 {
// 	.row {
// 		margin-right: -0.75rem;
// 		margin-left: -0.75rem;
// 	}

// 	[class*="column-"] {
// 		padding-right: 0.75rem;
// 		padding-left: 0.75rem;
// 		margin-bottom: 1.5rem;
// 	}
// }

// //////////////////
// // 16px Gutters //
// //////////////////
// .gutter-16 {
// 	.row {
// 		margin-right: -0.5rem;
// 		margin-left: -0.5rem;
// 	}

// 	[class*="column-"] {
// 		padding-right: 0.5rem;
// 		padding-left: 0.5rem;
// 		margin-bottom: 1rem;
// 	}
// }

// /////////////////
// // 8px Gutters //
// /////////////////
// .gutter-8 {
// 	.row {
// 		margin-right: -0.25rem;
// 		margin-left: -0.25rem;
// 	}

// 	[class*="column-"] {
// 		padding-right: 0.25rem;
// 		padding-left: 0.25rem;
// 		margin-bottom: 0.5rem;
// 	}
// }
