$light: 300;
$regular: 400;
$medium: 500;
$heavy: 800;

h1 {
	font-size: 2rem;
	line-height: 2.125rem;
}

h2 {
	font-size: 1.5rem;
	font-weight: $medium;
	line-height: 1.375rem;
}

h3 {
	font-size: 1.1875rem;
	font-weight: $medium;
	line-height: 1.25rem;
}

h4 {
	font-size: 1rem;
	font-weight: $medium;
	line-height: 1.125rem;
}

p {
	font-size: 0.875rem;
	line-height: 1.3125rem;

	&.t-medium {
		font-weight: $medium;
	}
}

h5 {
	font-size: 0.875rem;
	font-weight: $medium;
	line-height: 1.0625rem;
}

h6 {
	font-size: 0.8125rem;
	line-height: 1.125rem;
	letter-spacing: 0.4px;
}

