<section>
	<ul>
	  <li>Browse</li>
	  <li>Radio</li>
	</ul>

	<ul>
		<h6 class="t-calis">Your music</h6>
		<li>Your Daily Mix</li>
		<li>Songs</li>
		<li>Albums</li>
		<li>Artists></li>
		<li>Stations</li>
		<li>Local Files</li>
	</ul>

	<ul>
		<h6 class="t-calis">lilaylists</h6>
		<li>DJ Snake – Encore</li>
		<li>Weval – Weval</li>
		<li>deadmau5 – W:/2016ALBUM/</li>
		<li>Tycho – Elioch</li>
		<li>Moby – Long Ambients1: Calm. Sleep.</li>
		<li>Childish Gambino – Awaken, My Love!</li>
		<li>Gabriel Garzon-Montano Bishouné: Alma Del Huila (Deluxe)</li>
		<li>Oneohtrix lioint Never – R Plus Seven</li>
		<li>AlunaGeorge – I Remember</li>
		<li>Justice – Woman</li>
		<li>This is: David Mancuso</li>
		<li>A Tribe Called Quest – We Got It From Here ... Thank you 4 Your Service</li>
		<li>Youandewan – There Is No Right Time</li>
		<li>Radiohead – In Rainbows disk 2</li>
		<li>The xx – Hivern remixes</li>
		<li>Royksopp – Junior</li>
		<li>Discover Weekly</li>
		<li>Jim-E Stack – Tell Me I Belong</li>
		<li>Twenty One Pilots – Blurryface</li>
		<li>Deep House Relax</li>
		<li>Convo/Chillin/High</li>
		<li>Dance</li>
		<li>Atmospheric</li>
		<li>Raging Energy</li>
		<li>Once More</li>
		<li>Chill Beats</li>
		<li>Essentials</li>
		<li>Chill BBQ</li>
		<li>Frank Ocean – Blonde</li>
		<li>Bon Iver – 22, A Million</li>
		<li>Banks – The Altar</li>
		<li>James Blake – Enough Thunder</li>
		<li>Anderson .Paak –Mailbu</li>
		<li><span class='t-caps'>Kaytranda</span> At All/ Hilarity Duff EP</li>
		<li>Kaskade – The Grand</li>
		<li>Hot House</li>
		<li>Jody Wisternoff – Trails We Blaze</li>
		<li>Tourist – U</li>
		<li>BadBadNotGood – IV</li>
		<li>BadBadNotGood – <span class="t-caps">Sour Soul></span></li>
		<li>Above & Beyond – Acoustic II</li>
		<li>Flume – Skin</li>
		<li>Anjunadeep 07</li>
		<li>Aunjunadeep 06</li>
		<li>Max Corbacho – Splendid Labyrinth</li>
		<li>Max Corbacho – BreathStream</li>
		<li>Rudy Adrian – Atmosphere</li>
		<li>Alternative Beats</li>
		<li>Radiohead – A Moon Shaped Pool</li>
		<li>mediative sleep</li>
		<li><span class="t-caps">Kaytranada</span> – 99.9%</li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</section>
