@import '../../styles/base/base';
.playlist {
	width: 12.5rem;
	height: 100vh;
	color: $grey;
	background: lighten($black, 8%);
	font-family: $spotifyFallBackFont;
	cursor: default;
}

.playlist-content {
	width: 12.5rem;
	padding: 1.25rem 1.25rem 0.625rem;
	overflow-y: auto;
	max-height: 100vh;
	padding-bottom: 4.375rem;

	ul, li, h6 {
		color: inherit;
	}


	li {
		height: 2rem;
		padding-top: 1rem;
		font-size: 87.5%;
		transition: $transition-spotify;

		&:hover {
			color: $white;
		}
	}
}

.playlist-browse,
.playlist-yourMusic {
	li {
		font-weight: $medium;
	}
}

.playlist-yourMusic,
.playlist-playlists {
	margin-top: 2.5rem;

}

.playlist-playlists {
	li {
		@include ellipsis(10rem);
	}
}

.playlist-title {
	font-size: 75%;
	text-transform: uppercase;
	letter-spacing: 0.6px;
}

.playlist-newPlaylist {
	display: flex;
	align-items: center;
	position: fixed;
	bottom: 0;
	width: 12.5rem;
	height: 3.75rem;
	padding-left: 1.25rem;
	background: lighten($black, 8%);
	border-top: 1px solid $gray-10;
	border-bottom: 1px solid $gray-10;
	transition: $transition-spotify;

	&:hover {
		color: $white;
	}

	span {
		width: 1.4375rem;
		height: 1.4375rem;
		margin-right: 0.75rem;
		border: 1px solid $grey;
		border-radius: 1.4375rem;
	}

	.cross {
	  	height: 13px;
    	position: relative;
    	width: 1px;
    	left: -24px;

		&:after {
		  	content: "";
		  	background: $grey;
		    height: 1px;
    		left: -7px;
    		position: absolute;
    		top: 5px;
    		width: 14px;
		}
	}
}
