@import '../../styles/base/base';

.playlist {
	position: relative;
	width: 12.5rem;
	height: 100vh;
	color: $grey;
	background: $playlistBackground;
	font-family: $Circular;
	font-weight: $regular;
	cursor: default;
	margin-top: 3.125rem;
    margin-bottom: 5.5rem;
}

.playlist-content {
	width: 12.5rem;
	padding: 0.3125rem 1.25rem 0.625rem;
	overflow-y: auto;
	max-height: 100vh;
	padding-bottom: 4.375rem;

	ul, li, h6 {
		color: inherit;
	}


	li {
		height: 2rem;
		padding-top: 0.75rem;
		font-size: 87.5%;
		transition: $transition-spotify;

		&:hover {
			color: $white;
		}
	}
}


.playlist-browse,
.playlist-yourMusic {
	li {
		font-weight: $heavy;
	}
}

.playlist-yourMusic,
.playlist-playlists {
	margin-top: 2rem;

}

.playlist-playlists {
	li {
		@include ellipsis(10rem);
	}
}

.playlist-title {
	font-size: 75%;
	text-transform: uppercase;
	letter-spacing: 1.2px;
}

.playlist-newPlaylist {
	display: flex;
	align-items: center;
	position: fixed;
	bottom: 80px;
	width: 12.5rem;
	height: 3.75rem;
	padding-left: 1.25rem;
	background: lighten($black, 8%);
	border-top: 1px solid $borderGrey;
	border-bottom: 1px solid $borderGrey;
	transition: $transition-spotify;

	&:hover {
		p {
			color: $white;
		}

		.playlist-add {
			border-color: $white;
		}

		.playlist-cross {
			background: $white;

			&:after {
				background: $white;
			}
		}

	}

	.playlist-add {
		width: 1.4375rem;
		height: 1.4375rem;
		margin-right: 0.75rem;
		border: 1px solid $grey;
		border-radius: 1.4375rem;
	}

	.playlist-cross {
    	position: relative;
	  	height: 13px;
    	width: 1px;
    	left: -24px;
    	background: $grey;

		&:after {
		  	content: "";
		  	background: $grey;
		    height: 1px;
    		left: -6px;
    		position: absolute;
    		top: 6px;
    		width: 13px;
		}
	}
}
