<footer>
    <span id="copy">&copy; 2015. Alexander Chaparro. All rights reserved.</span>
    <span><a href="https://www.linkedin.com/pub/alexander-chaparro/1a/b58/566" target="_blank"><img src="./img/linkedInLogo.png"></a></span>
</footer>